.card-hover-smooth {
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}
.card-hover-smooth:hover, .group:hover .card-hover-smooth {
  /* scale and shadow for hover */
  transform: scale(1.06);
  box-shadow: 0 12px 32px 0 rgba(0,0,0,0.13);
}
